@font-face {
    font-family:'Beautiful';
    src: url(Beautiful.ttf);
}

body
{
    background-color: purple;
    margin: 0;
}

header
{
display: flex;
justify-content: space-between;
height: 100px;
background-color: black;
color: white;
}

header>img
{
width: 220px;
height: 100px;
}

header>h1
{
    font-size: 50px;
    color: papayawhip;
    padding-left: 30px;
}

section
{
  height: 500px;
  font-family: "Beautiful";
  animation: fadeInAnimation ease 3s;
}

section>p
{
text-align: center;
color: white;
font-size: 40px;
}

#fas
{   
    padding-right: 150px;
    height: 200px;
    width: 500px;
    border-radius: 50%;
}

#rarrow
{
    height: 80px;
    width: 150px;
    position: absolute;
    padding-top: 100px;
    padding-left: 480px;
    bottom: 480px;
}

#larrow
{
    height: 80px;
    width: 150px;
    position: absolute;
    padding-top: 100px;
    left: 950px;
    bottom: 480px;
    transform: rotate(180deg);
    transform: rotateY(180deg);
}

#family
{
    display: flex;
    text-align: center;
    font-size: 60px;
    color: white;
}

#pinkii
{
    padding-left: 1050px;
    height: 350px;
    width: 350px;
    padding-top: 200px;
}

#rarrow2
{
    position: absolute;
    right: 350px;
     bottom: -230px;
}

footer
{
    display: flex;
    justify-content: space-around;
    height: 70px;
    background-color: black;
    position: absolute;
    width: 100%;
    bottom: -800px;
}

footer>a
{
    text-decoration: none;
    color: papayawhip;
}

.bubble img
{
    height: 50px;
    width: 50px;
    animation: bubble 15s linear infinite;
}

.bubble
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: -780px;
}

@keyframes bubble
{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateY(-200vh);
        opacity: 0;
    }
}

.bubble img:nth-child(1)
{
    width: 100px;
    height: 100px;
}
.bubble img:nth-child(2)
{
    animation-delay: 7s;
    width: 50px;
    height: 50px;
}
.bubble img:nth-child(3)
{
    animation-delay: 4s;
    width: 25px;
    height: 25px;
}
.bubble img:nth-child(4)
{
    animation-delay: 8s;
    width: 100px;
    height: 100px;
}
.bubble img:nth-child(5)
{
    animation-delay: 5s;
    width: 20px;
    height: 20px;
}
.bubble img:nth-child(6)
{
    animation-delay: 2s;
    width: 50px;
    height: 50px;
}

@keyframes fadeInAnimation
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}