@font-face {
    font-family:'Beautiful';
    src: url(Beautiful.ttf);
}

body
{
    background-color: purple;
    margin: 0;
    background-image: url(Capture1.PNG);
    background-repeat: no-repeat;
    background-size: 250px;
    background-blend-mode: soft-light,lighten;
    background-position: -10px 390px;
}

header
{
display: flex;
justify-content: space-between;
height: 100px;
background-color: black;
color: white;
}

header>img
{
width: 220px;
height: 100px;
}

header>h1
{
    font-size: 50px;
    color: papayawhip;
    padding-left: 30px;
}

section
{
  height: 500px;
  font-family: "Beautiful";
  animation: fadeInAnimation ease-in 3s;
}

footer
{
    display: flex;
    justify-content: space-around;
    height: 70px;
    background-color: black;
    position: absolute;
    width: 100%;
}

footer>a
{
    text-decoration: none;
    color: papayawhip;
}

section>h1
{
    padding-top: 100px;
    text-align: center;
    font-size: 100px;
    color: papayawhip;
}