@font-face {
    font-family:'Beautiful';
    src: url(Beautiful.ttf);
}

body
{
    background-color: purple;
    margin: 0;
    background-image: url(Capture1.PNG);
    background-repeat: no-repeat;
    background-size: 250px;
    background-blend-mode: soft-light,lighten;
    background-position: -10px 390px;
}

header
{
display: flex;
justify-content: space-between;
height: 100px;
background-color: black;
color: white;
}

header>img
{
width: 220px;
height: 100px;
}

header>h1
{
    font-size: 50px;
    color: papayawhip;
    padding-left: 30px;
}

section
{
  height: 500px;
  font-family: "Beautiful";
  animation: fadeInAnimation ease-in 3s;
}

.head
{
    display: flex;
    font-size: 50px;
    justify-content: space-around;
    color: white;
    height: 100px;
}
footer
{
    display: flex;
    justify-content: space-around;
    height: 70px;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer>a
{
    text-decoration: none;
    color: papayawhip;
}

section>p
{
    
    text-align: center;
    color: white;
    font-size: 50px;

}

#patata
{
    font-size: 50px;
    padding-bottom: 20px;
}

#activity
{
display: flex;
justify-content: space-around;
font-size: 50px;
position: absolute;
width: 100%;
bottom: 120px;
}

section>div>a
{
    text-decoration: none ;
    color: papayawhip;
}

#Play:active
{
transform: translateY(4px);
}


#Talk:active
{
    transform: translateY(4px);
}


.bubble img
{
    height: 50px;
    width: 50px;
    animation: bubble 10s linear infinite;
}

.bubble
{
    animation: fadeInAnimation ease 30s;
    width: 100%;
    display: flex;
    justify-content: space-around;
    bottom: -13px;
}

@keyframes bubble
{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    70%{
        opacity: 0;
    }
    100%{
        transform: translateY(-105vh);
        opacity: 0;
    }
}

.bubble img:nth-child(1)
{
    width: 100px;
    height: 100px;
}
.bubble img:nth-child(2)
{
    animation-delay: 4s;
    width: 50px;
    height: 50px;
}
.bubble img:nth-child(3)
{
    animation-delay: 5s;
    width: 25px;
    height: 25px;
}
.bubble img:nth-child(4)
{
    animation-delay: 2s;
    width: 100px;
    height: 100px;
}
.bubble img:nth-child(5)
{
    animation-delay: 3s;
    width: 20px;
    height: 20px;
}
.bubble img:nth-child(6)
{
    animation-delay: 1.5s;
    width: 50px;
    height: 50px;
}

@keyframes fadeInAnimation
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
