@font-face {
    font-family:'Beautiful';
    src: url(Beautiful.ttf);
}

body
{
    background-color: purple;
    margin: 0;
}

header
{
display: flex;
justify-content: space-between;
height: 100px;
background-color: black;
color: white;
}

header>img
{
width: 220px;
height: 100px;
}

header>h1
{
    font-size: 50px;
    color: papayawhip;
    padding-left: 30px;
}

section
{
  height: 500px;
  font-family: "Beautiful";
  animation: fadeInAnimation ease 3s;
}

section>h1
{
    text-align: center;
    color: white;
    font-size: 70px;
}

section>form
{
    font-size: 40px;
}

#Fieldset0
{
    height: 2100px;
}

#Fieldset1
{
    position: absolute;
    left: 80px;
}

#fieldset1
{
    width: 100%;

}

#fieldset2
{
    width: 90%;
    height: 90%;
}

#Fieldset2
{
    position: absolute;
    margin-left: 700px;
    bottom: -300px;
}

#fieldset3
{
    width: 34%;
}

#Fieldset3
{
    position: absolute;
    bottom: -900px;
    left: 80px;
}

#fieldset4
{
    width: 80%;
}

#Fieldset4
{
    position: absolute;
    bottom: -1100px;
    margin-left: 700px;
}

#fieldset5
{
    width: 34%;
}

#Fieldset5
{
    position: absolute;
    bottom: -1300px;
    left: 80px;
}

#Fieldset6
{
    position: absolute;
    bottom: -1650px;
    left: 450px;
}

#subset
{
    position: absolute;
    bottom: -1770px;
}

footer
{
    display: flex;
    justify-content: space-around;
    height: 70px;
    background-color: black;
    position: absolute;
    width: 100%;
    bottom: -1950px;
}

footer>a
{
    text-decoration: none;
    color: papayawhip;
}


.bubble img
{
    height: 50px;
    width: 50px;
    animation: bubble 20s linear infinite;
}

.bubble
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: -1950px;
}

@keyframes bubble
{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateY(-380vh);
        opacity: 0;
    }
}

.bubble img:nth-child(1)
{
    width: 100px;
    height: 100px;
}
.bubble img:nth-child(2)
{
    animation-delay: 7s;
    width: 50px;
    height: 50px;
}
.bubble img:nth-child(3)
{
    animation-delay: 4s;
    width: 25px;
    height: 25px;
}
.bubble img:nth-child(4)
{
    animation-delay: 8s;
    width: 100px;
    height: 100px;
}
.bubble img:nth-child(5)
{
    animation-delay: 5s;
    width: 20px;
    height: 20px;
}
.bubble img:nth-child(6)
{
    animation-delay: 2s;
    width: 50px;
    height: 50px;
}

@keyframes fadeInAnimation
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}