@font-face {
    font-family:'Beautiful';
    src: url(Beautiful.ttf);
}

body
{
    background-color: purple;
    margin: 0;
}

header
{
display: flex;
justify-content: space-between;
height: 100px;
background-color: black;
color: white;
}

header>img
{
width: 220px;
height: 100px;
}

header>h1
{
    font-size: 50px;
    color: papayawhip;
    padding-left: 30px;
}

section
{
  height: 500px;
  font-family: "Beautiful";
  animation: fadeInAnimation ease 3s;
}

.head
{
    display: flex;
    font-size: 50px;
    justify-content: space-around;
    color: white;
    height: 100px;
}
footer
{
    display: flex;
    justify-content: space-around;
    height: 70px;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer>a
{
    text-decoration: none;
    color: papayawhip;
}

section>h1
{
    text-align: center;
    color: white;
    font-size: 70px;
}

.game1 img
{
    height: 70px;
    width: 70px;
    animation: game1 20s linear infinite;
}

.game1
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
}

@keyframes game1
{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(-400vh);
    }
}


.game2 img
{
    height: 70px;
    width: 70px;
    animation: game2 20s linear infinite;
    animation-delay: 1s;
}

.game2
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
}

@keyframes game2
{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(-400vh);
    }
}

.game3 img
{
    height: 70px;
    width: 70px;
    animation: game3 20s linear infinite;
    animation-delay: 2s;
}

.game3
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
}

@keyframes game3
{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(-400vh);
    }
}

.game4 img
{
    height: 70px;
    width: 70px;
    animation: game4 20s linear infinite;
    animation-delay: 3s;
}

.game4
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
}

@keyframes game4
{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(-400vh);
    }
}


.game5 img
{
    height: 70px;
    width: 70px;
    animation: game5 20s linear infinite;
    animation-delay: 4s;
}

.game5
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
}

@keyframes game5
{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(-400vh);
    }
}

.game6 img
{
    height: 70px;
    width: 70px;
    animation: game6 20s linear infinite;
    animation-delay: 5s;
}

.game6
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
}

@keyframes game6
{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(-400vh);
    }
}

.game7 img
{
    height: 70px;
    width: 70px;
    animation: game7 20s linear infinite;
    animation-delay: 6s;
}

.game7
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
}

@keyframes game7
{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(-400vh);
    }
}

.game8 img
{
    height: 70px;
    width: 70px;
    animation: game8 20s linear infinite;
    animation-delay: 7s;
}

.game8
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
}

@keyframes game8
{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(-400vh);
    }
}

.game9 img
{
    height: 70px;
    width: 70px;
    animation: game9 20s linear infinite;
    animation-delay: 8s;
}

.game9
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
}

@keyframes game9
{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(-400vh);
    }
}



.game10 img
{
    height: 70px;
    width: 70px;
    animation: game10 20s linear infinite;
    animation-delay: 9s;
}

.game10
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
}

@keyframes game10
{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(-400vh);
    }
}


.game11 img
{
    height: 70px;
    width: 70px;
    animation: game11 20s linear infinite;
    animation-delay: 10s;
}

.game11
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
}

@keyframes game11
{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(-400vh);
    }
}

@keyframes fadeInAnimation
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}