@font-face {
    font-family:'Beautiful';
    src: url(Beautiful.ttf);
}

body
{
    background-color: purple;
    margin: 0;
}

header
{
display: flex;
justify-content: space-between;
height: 100px;
background-color: black;
color: white;
}

header>img
{
width: 220px;
height: 100px;
}

header>h1
{
    font-size: 50px;
    color: papayawhip;
    padding-left: 30px;
}

section
{
  height: 429px;
  font-family: "Beautiful";
}

.head
{
    display: flex;
    font-size: 50px;
    justify-content: space-around;
    color: white;
    height: 100px;
}
footer
{
    display: flex;
    justify-content: space-around;
    height: 70px;
    background-color: black;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

footer>a
{
    text-decoration: none;
    color: papayawhip;
}

.text
{
    padding-top: 100px;
    text-align: center;
    color: white;
    font-size: 70px;

}

#happytext
{
    text-align: center;
    color: white;
    font-size: 45px;
}

.sadtext
{
    position: absolute;
    padding-left: 230px;
    color: white;
    font-size: 50px;
    margin-top: 10px;
}

#next
{
    position: absolute;
    bottom: 80px;
    left: 1250px;
}

.button
{
    background-color: black;
    color: white;
    font-family: 'Beautiful';
    font-size: 50px;
    border-radius: 20px;
    cursor: pointer;
}

.button:active
{
    transform: translateY(4px);
}

.flex
{
    display: flex;
    justify-content: space-around;
}
