@font-face {
    font-family:'Beautiful';
    src: url(Beautiful.ttf);
}

body
{
    background-color: purple;
    margin: 0;
}

header
{
display: flex;
justify-content: space-between;
height: 100px;
background-color: black;
color: white;
}

header>img
{
width: 220px;
height: 100px;
}

header>h1
{
    font-size: 50px;
    color: papayawhip;
    padding-left: 30px;
}

section
{
  height: 429px;
  font-family: "Beautiful";
}

.button
{   position: absolute;
    background-color: black;
    color: white;
    font-family: 'Beautiful';
    font-size: 50px;
    border-radius: 20px;
    cursor: pointer;
}

#button1
{
    bottom: 300px;
    left: 480px;
}

#button2
{
    bottom: 180px;
    left: 250px;
}

#button3
{
    bottom: 450px;
    left: 700px;
}

.button:active
{
    transform: translateY(4px);
}

#angryorlow
{
    position: absolute;
    left: 260px;
    bottom: -70px;
    height: 800px;
    width: 800px;
}

#angry
{
    position: absolute;
    color: white;
    font-size: 70px;
    margin-left: 90px;
    margin-bottom: 500px;
}

#button4
{
    bottom: 10px;
}

#again
{
    position: absolute;
    color: white;
    font-size: 70px;
    margin-left: 880px;
    margin-bottom: 500px; 
}

#DrOrlow
{
    position: absolute;
    left: 20px;
    bottom: -70px;
    height: 700px;
    width: 700px;
}

#happy1
{
    position: absolute;
    color: white;
    font-size: 70px;
    margin-left: 800px;
    margin-bottom: 500px;
}

#happy2
{
    position: absolute;
    color: white;
    font-size: 70px;
    margin-left: 750px;
    bottom: 80px;
}

#button5
{
        bottom: 10px;
        margin-left: 1150px;
        text-decoration: none;
}


footer
{
    display: flex;
    justify-content: space-around;
    height: 70px;
    background-color: black;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

footer>a
{
    text-decoration: none;
    color: papayawhip;
}
